html,
body {
    height: 100%;
}

body {
    color: white;
    background-color: rgb(48, 48, 48);
    font-size: 18px;
}

.container-style {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}


.log-out,
.user-content,
.side-content,
.bottom-content,
.main-content {
    text-align: center;
    color: black;
}

.main-content {
    grid-column: 2/3;
    grid-row: 1;
    height: 100%;
}

.side-content {
    grid-column: 1/2;
    grid-row: 1;
    height: 100%;
}


.bottom-content {
    display: grid;
    grid-template-columns: 25% 75%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.log-out {
    grid-column: 1/2;
}

.user-content {
    grid-column: 2/3;
}

#xpw {
    color: red;
}