html,
body {
    height: 100%;
}

body {
    background-color: rgb(231, 231, 231);
    font-size: 18px;
}

.container-style {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 100px 100px;
}


.log-out,
.user-content,
.side-content,
.bottom-content,
.main-content {
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: black;
    border: 1px solid black;
}

.main-content {
    grid-column: 2/3;
    grid-row: 1;
}

.side-content {
    grid-column: 1/2;
    grid-row: 1;
}


.bottom-content {
    display: grid;
    grid-template-columns: 25% 75%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.log-out {
    grid-column: 1/2;
}

.user-content {
    grid-column: 2/3;
}

#xpw {
    color: red;
}

#eUserClick {
    color: blue;
    text-decoration: underline;
}

#newUserClick {
    color: blue;
    text-decoration: underline;
}

.bigger {
    font-size: x-large;
    font-weight: bold;

}